/vendor/
/node_modules/

# Various
sitemap.xml
sitemap.xml.gz
*.log
.coverage
.eslintcache
.DS_Store
.DS_Store?
.htaccess
ehthumbs.db
*Thumbs.db
.Trashes
.svn
.cvs
.idea
*~
*.bak
*.swp
*.com
*.class
*.o
*.so
.Spotlight-V100
*.seed
*.dat
*.out
*.pid
node_modules

# LARGE/DISALLOWED FILE TYPES & Packages
*.3gp
*.3gpp
*.7z
*.asf
*.asx
*.avi
*.bin
*.deb
*.dll
*.dmg
*.exe
*.flv
*.gz
*.hqx
*.img
*.iso
*.jar
*.kar
*.m4a
*.m4v
*.mid
*.midi
*.mng
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msm
*.msp
*.ogg
*.ra
*.rar
*.tar
*.webm
*.wmv
*.zip
